/* The top level container of the component*/
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid teal;
  border-radius: 3px;
  color: green;
}
.counter > button {
  padding: 10px 20px;
}
.counter > button:first-of-type {
  margin-right: 10px;
}

.counter.negative {
  color: red;
}

.lucky {
  font-weight: bold;
  margin-left: 15px;
  color: skyblue;
}

.waitForLuck {
  font-weight: bold;
  margin-left: 15px;
  color: goldenrod;
}
