import React from 'react';
import { IProps } from './types'
import styles from './{{pascalCase name}}.module.css';


const {{pascalCase name}} = (props : IProps) => {
  return (
    <div className={ styles.{{camelCase name}} }>TODO</div>
  );
};



export default {{pascalCase name}};