import React from 'react';
import { IProps } from './types'
let styles = require('./{{pascalCase name}}.css');


const {{pascalCase name}} = (props : IProps) => {
  return (
    <div className={styles.wrapper}>TODO</div>
  );
};



export default {{pascalCase name}};